<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-list padding>
  <ion-button expand="full" (click)="startScanning()">scan</ion-button>
  <ion-list-header>
    Paired Devices
  </ion-list-header>
  <ion-item *ngFor="let device of pairedDevices">
    <ion-col>{{device.name}}</ion-col>
    <ion-col size="2">
      <ion-row>
        <ion-button shape="round" color="light" (click)="testPrint(device.address)">
          <ion-icon name="print" color="dark"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-button expand="full" (click)="disconnect()">Disconnect</ion-button>
  <ion-list-header>
    availlable Devices
  </ion-list-header>
  <ion-item *ngFor='let device of unpairedDevices'>
    <span (click)="selectDevice(device.address)">
      {{device.name}}
    </span>
  </ion-item>
  <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
</ion-list>